body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    min-width: 960px;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

header {
    text-align: center;
    width: 100%;
}
nav {
    font-weight: bold;
    background-image: url("images/blacktile.jpeg");
    background-repeat: repeat-x;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
}